{% extends 'base.html' %}
{% block title%}Login{% endblock %}
{% block activelogin %} class="active" {% endblock %}
{% block content %}

<h1>Password Reset</h1>
<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
<form method="Post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.email.errors }}
    <button type="submit">Reset Password</button>
</form>
{% endblock %}

<!-- python -m smtpd -n -c DebuggingServer localhost:1025 -->